<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymleag.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Liste des divisions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Libellé</th>
    </tr>
    <tr th:each="division : ${divisions}">
        <td th:text="${division.id}">1</td>
        <td th:text="${division.code}">AZERTY</td>
        <td th:text="${division.libelle}">1BTS2</td>
        <td>
            <a th:href="@{'/division/modif/'+${division.id}}" sec:authorize="hasAnyAuthority('ADMIN','USER')">Modifier</a>
            <a th:href="@{'/division/suppr/'+${division.id}}" sec:authorize="hasAnyAuthority('ADMIN','USER')">Supprimer</a>
        </td>
    </tr>
</table>
<a href="/division/ajout">Ajouter un niveau</a>
<br/>
<a href="/index">Retour vers l'index</a>
</body>
</html>